html {
    display: block;
}

* {
    box-sizing: border-box;
    text-align: left;
}

body {
    margin: 0;
    padding: 0;
    display: block;
}

/* Teljes doksin érvenyes */
nav {
    display: block;
}

nav ul {
    padding: 0;
    margin: 0;
    justify-content: space-around;
    align-items: center;
}

li {
    list-style-type: none;
}

/* Nav sáv animáció */
.mid:hover,
.mid:focus,
.mid:active {
    color: #999;
    text-decoration: none;
}

.mid {
    text-decoration: none;
    position: relative;
    display: block;
    transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
    color: #cecbc8;
}

.mid::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -3.2px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: #cecbc8;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s, transform 0.2s ease-out;
}

.current {
    border-bottom: solid #cecbc8 4px;
}

.mid:hover::before,
a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #cecbc8;
}

.mid:hover {
    transform-origin: left top;
    transform: scale(1, 1);
    transition: color, background-color 0.1s, padding 0.2s ease-in;
}

/* Navsáv */
#felso {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #3d342d;
    font-family: 'Montserrat', sans-serif;
    color: #cecbc8;
}

.top {
    padding: 5px;
}

.menusavTop {
    justify-content: center;
    align-items: center;
    font-size: 2.7vw;
    float: left;
    padding-left: 7px;
    padding-right: 7px;
}

#also {
    margin: 0;
    padding: 0;
    background-color: #28221e;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    padding-bottom: 10px;
}

.menusav {
    padding: 7px 20px;
    font-size: 4.5vw;
}

.mid {
    padding: 0;
}

.logo {
    font-family: 'DM Serif Display', serif;
    padding: 5px;
    font-size: 7vw;
    margin: 0;
    padding-left: 15px;
}

/* Köszönőkép */
#kep {
    background-image: url(kepek/nik-owens-40OJLYVWeeM-unsplash\ 2.jpg);
    width: 100%;
    height: 250px;
    background-size: cover;
}

.valaszto {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    color: #cecbc8;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
}

.koszon {
    padding-top: 60px;
    padding-bottom: 50px;
    margin: 0;
    text-align: center;
    font-size: 7vw;
    color: #cecbc8;
    font-family: 'Montserrat', sans-serif;
    animation-name: beusz;
    animation-duration: 1s;
}

@keyframes beusz {
    from {
        font-size: 0;
    }
}

.gyorsgomb {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    background-color: #28221e;
    margin: 0;
    font-size: 4vw;
    width: 35%;
    height: 30%;
    padding: 3vw;
    border-radius: 45px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* Főoldalon kívül a köszönőkép */
#fokep {
    background-image: url(kepek/nik-owens-40OJLYVWeeM-unsplash\ 2.jpg);
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 7vw;
    text-align: center;
    color: #cecbc8;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background-size: cover;
}

/* Táblázat mindenhol */
table {
    margin: 0;
    padding: 0;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

/* Táblázat elrendezés az oldalakon */
.left {
    background-color: #614e41;
    font-size: 0;
    padding: 0;
    margin: 0;
}

.left1,
.left2 {
    padding: 0;
    background-color: #614e41;
    font-size: 0;
    width: 0;
}

.right1,
.right2 {
    padding: 0;
    background-color: #614e41;
    font-size: 0;
    width: 0;
}

/* Tartalom az oldalakon */
.open,
.leiras {
    margin: 0;
    background-color: #614e41;
    color: #cecbc8;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    padding: 15px;
    font-size: 4vw;
}

.leircim {
    margin: 0;
    background-color: #614e41;
    color: #cecbc8;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    padding: 15px;
    font-size: 5vw;
}

.leiras {
    padding-left: 25px;
    padding-top: 0;
}

/* Lábjegyzet */
footer {
    margin: 0;
    padding: 10px;
    background-color: #28221e;
    text-align: center;
    color: #cecbc8;
    font-size: 3.5vw;
    font-family: 'Montserrat', sans-serif;

}

.hely {
    text-align: center;
}

.foot {
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    vertical-align: middle;
}

.ikon {
    width: 5vw;
    height: 5vw;
}

/* Teszt */
.formerror {
    display: block;
    color: red;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

/* Formok formázása */
.aszinfo {
    font-size: 4vw;
}

.mezo {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #cecbc8;
    color: #28221e;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.7vw;
    border: 0;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    outline: 0;
}

.submit0 {
    background-color: #cecbc8;
    color: #28221e;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.8vw;
    border: 0;
    width: 80%;
    padding: 12px 20px;
    margin: 5% 10% 0 10%;
    outline: 0;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.error {
    color: #FB3A3A;
    font-size: 4vw;
}

.checkb {
    display: flex;
    justify-content: center;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}

.checkb input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #cecbc8;
}

.checkb input:checked~.checkmark {
    background-color: #cecbc8;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkb input:checked~.checkmark:after {
    display: block;
}

.checkb .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #28221e;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.rad {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 5vw;
    user-select: none;
}


.rad input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radiob {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #cecbc8;
    border-radius: 50%;
}

.radiob:after {
    content: "";
    position: absolute;
    display: none;
}

.rad input:checked~.radiob:after {
    display: block;
}

.rad .radiob:after {
    top: 7px;
    left: 7px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #28221e;
}

.leircim {
    font-size: 3.5vw;
}

.leiras {
    font-size: 3vw;
}

.galery {
    background-color: #7f6951;
}

#osszpont,
#uzenet {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 4vw;
    padding: 1vw;

}

@media only screen and (min-width: 768px) {

    /* Navsáv */
    nav ul {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
    }

    #also {
        padding-bottom: 0;
    }

    .top {
        padding: 0;
    }

    .mid {
        padding: 0;
    }

    .gyorsgomb:hover {
        transition: 0.5s;
        background-color: #614e41;
        font-size: 2.3vw;
        height: 10%;
    }

    .gyorsgomb {
        padding: 1.5vw;
        transition: 0.5s;
        background-color: #28221e;
        height: 5%;
        width: 25%;

    }

    .linkvalaszto {
        width: 100%;
        height: 100%;
        text-align: center;
    }

    .menusavTop {
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 0.7vw;
    }

    .menusav {
        display: flex;
        margin: 0;
        padding: 20px 10px;
        font-size: 1.5vw;
        vertical-align: middle;
    }

    .logo {
        margin: 0;
        padding: 0;
        font-family: 'DM Serif Display', serif;
        font-size: 3.5vw;
    }

    /* Köszönőkép */
    #kep {
        width: 100%;
        height: 500px;
        background-size: cover;
    }

    #fokep {
        font-size: 4.5vw;
    }

    .koszon {
        font-size: 5vw;
        padding-bottom: 100px;
        padding-top: 150px;
    }

    .gyorsgomb {
        font-size: 2vw;
    }

    /* Táblázatok */
    .left {
        background-color: #7f6951;
        width: 30%;
        font-family: 'Montserrat', sans-serif;
        color: #cecbc8;
        padding: 35px;
        margin: 0;
        font-size: 0;
    }

    .open {
        font-size: 100%;
    }

    .left1 {
        width: 20%;
    }

    .left2 {
        width: 15%;
        background-color: #7f6951;
    }

    .right1 {
        width: 30%;
    }

    .right2 {
        width: 15%;
        background-color: #7f6951;
    }

    .leiras {
        font-size: 1.2vw;
    }

    .leircim {
        font-size: 2.5vw;
    }

    /* Lábjegyzet */
    .foot {
        justify-content: center;
    }

    footer {
        font-size: 1.5vw;
    }

    .ikon {
        padding-left: 15px;
        padding-right: 15px;
        width: 2vw;
        height: 2vw;
        padding: 0;
        margin-left: 15px;
        margin-right: 15px;
    }

    .leircim {
        font-size: 1.2vw;
    }

    .leiras {
        font-size: 1.2vw;
    }

    .rad {
        font-size: 1.7vw;
    }

    /* Formok */
    .aszinfo {
        font-size: 130%;
    }

    .error {
        color: #FB3A3A;
        font-size: 1.5vw;
    }

    .mezo {
        font-size: 100%;
    }



    .submit0 {
        font-size: 100%;
    }

    #osszpont,
    #uzenet {
        font-size: 2vw;
    }

}

/* Reszponzív szerkezet */
@media only screen and (min-width: 1000px) {

    #fokep {
        font-size: 4vw;
    }

    .koszon {
        font-size: 4vw;
        padding-bottom: 100px;
        padding-top: 150px;
    }

    .gyorsgomb {
        font-size: 2vw;
    }

    /* Táblázatok */
    .left {
        background-color: #7f6951;
        width: 60%;
        font-family: 'Montserrat', sans-serif;
        color: #cecbc8;
        padding: 35px;
        margin: 0;
        text-align: justify;
        font-size: 120%;
    }

    .left1 {
        width: 30%;
    }

    .left2 {
        width: 15%;
        background-color: #7f6951;
    }

    .right1 {
        width: 30%;
    }

    .right2 {
        width: 15%;
        background-color: #7f6951;
    }


}